html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin: 0;
    padding: 0;
}

.SidebarContainer {
    background-color: #145dbf;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 220px;
}

.NavGroup {
    overflow: hidden;
}

.NavGroup button.NavGroupToggle {
    height: 28px;
    margin-top: 14px;
    margin-bottom: 4px;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    text-overflow: ellipsis;
    text-align: left;
    border: none;
    color: #BCCDE7;
    background-color: transparent;
}

.NavGroup__is-collapsed {
    animation-name: menuAnimation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

/* Content */
.NavGroupContent {
    /* empty */
}

.NavGroupContent ul {
    margin: 0;
    padding: 0;
}

/* List items */

.NavGroupContent__list-item {
    display: block;
    height: 31px;
    list-style-type: none;
    width: 216px;
    border: solid 2px transparent;
    overflow: hidden;
}

.NavGroupContent__list-item:hover {
    background: rgba(255, 255, 255, 0.16);
}

.NavGroupContent__list-item.animating {
    transition-property: height, padding, color, border;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.NavGroupContent__list-item.collapsed {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    overflow-y: hidden;
}

.NavGroupContent__list-item > a {
    font-size: 14px;
    text-decoration: none;
    padding: 5px 5px 5px 15px;
    width: 100%;
    display: block;
    color: #BCCDE7;
}

.NavGroupContent__list-item>a:hover {
    color: #BCCDE7;
}

.NavGroupContent__list-item.dragging {
    opacity: 0;
}

.NavGroupContent__list-item-absolute {
    height: 44px;
    list-style-type: none;
    width: 100%;
    position: relative;
}

.NavGroupContent__list-item-absolute:hover {
    background: rgba(255, 255, 255, 0.16);
}

.NavGroupContent__list-item-absolute > a {
    text-decoration: none;
    position: absolute;
    line-height: 44px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 24px;
    color: #BCCDE7;
}

.NavGroupContent__list-item-absolute > a:hover {
    color: #BCCDE7;
}

.scrollbar--view {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    height: 8px; /* for horizontal scrollbars */
    width: 8px;  /* for vertical scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, .2);
}

.nav-pills__container {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    position: relative;
    width: 100%;
}